<div>
    <h1 class="inline">שם המתכון:</h1>
    <input type="text" class="inline" id="recepie-name-input" [(ngModel)]="recepieName">
</div>
<h2>מרכיבים:</h2>
<div id="ingredients-form">
    <input type="number" min="0" id="ingredient-amount-input" class="inline" [(ngModel)]="ingredientAmountToAdd">
    גרם
    <input type="text" class="inline" id="ingredient-name-input" [(ngModel)]="ingredientNameToAdd">
    <button class="add-button" (click)="addIngredient()">הוסף</button>
</div>
<div id="ingredients-list">
    <div class="ingredient" *ngFor="let ingredient of recepieIngredients; index as i">
        <svg class="icon inline" (click)="removeIngredient(i)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
        </svg>
        {{ingredient.amount}} גרם {{ingredient.name}}
    </div>
</div>
<h2>הוראות הכנה:</h2>
<div id="instructions-form">
    <textarea id="instructions-input" class="inline" [(ngModel)]="instructionToAdd"></textarea>
    <button class="add-button" (click)="addInstruction()">הוסף</button>
</div>
<div id="instructions-list">
    <div class="instruction" *ngFor="let instruction of recepieInstructions; index as i">
        <svg class="icon inline" (click)="removeInstruction(i)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
        </svg>
        {{instruction}}
    </div>
</div>
<footer>
    <button class="add-button" (click)="saveRecepie()">שמור מתכון></button>
</footer>
