
<form class="mx-5">
    <div class="mb-3">
        <label class="form-label">שם המתכון</label>
        <input type="text" class="form-control" [(ngModel)]="recepieName" name="recepieName">
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-sm-6">
                <label class="form-label">מרכיבים</label>
                
                <div class="row">
                    <div class="col-4">
                        <input type="number" class="form-control" name="ingredientAmountToAdd" [(ngModel)]="ingredientAmountToAdd">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="ingredientNameToAdd" [(ngModel)]="ingredientNameToAdd">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success btn-sm" (click)="addIngredient()">הוסף </button>
                    </div>
                </div>
                <ul>
                    <li class="row my-1" *ngFor="let ingredient of recepieIngredients; index as i">
                        <div class="col-8">
                            {{ingredient.ingredientAmount}} גרם {{ingredient.ingredientName}}
                        </div>
                        <div class="col-4">
                            <button class="btn btn-sm btn-danger" (click)="removeIngredient(i)">הסר</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <label class="form-label">הוראות</label>
                    <div class="col-10">
                        <textarea type="text" class="form-control" name="instructionToAdd" [(ngModel)]="instructionToAdd"></textarea>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-sm btn-success" (click)="addInstruction()">הוסף</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li *ngFor="let instruction of recepieInstructions; index as i">
                                <div class="col-10">
                                    <p class="text-break">
                                        {{instruction}}
                                    </p>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-sm btn-danger" (click)="removeInstruction(i)">הסר</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="saveRecepie()" class="btn btn-primary">שמור מתכון</button>
</form>