<div *ngIf="!recepie">
טוען מתכון
</div>
<div *ngIf="recepie">
    <div>
        <img src="/assets/edit-icon.png" id="edit-icon">
        <h1>מתכון {{recepie.name}}</h1>
        <a routerLink="/recepie/{{recepie._id}}/edit">
        </a>
    </div>
    <h3>מרכיבים:</h3>
    <ul>
        <li *ngFor="let ingredient of recepie.ingredients">
        {{ingredient.amount}} גרם {{ingredient.name}}
        </li>
    </ul>
    <h3>הוראות הכנה:</h3>
    <ul>
        <li *ngFor="let instruction of recepie.instructions">{{ instruction }}</li>
    </ul>
    <button id="factor-input-container">הכפל כמויות פי <input type="number" id="factor-input" min="1" [(ngModel)]="factor"></button>
    <button (click)="multipleIngredients()" id="multiply-button">></button>
</div>
<button id="reset-button" (click)="resetRecepie()">אפס</button>