<p *ngIf="!recepieToEdit">טוען מתכון</p>
<div *ngIf="recepieToEdit" class="mx-5">
    <div class="row">
        <div class="col-sm-6">
            <input type="text" [(value)]="recepieToEdit.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="form-label">מרכיבים</label>
            <div class="row">
                <div class="col-4">
                    <input type="number" class="form-control" name="ingredientAmountToAdd" [(ngModel)]="ingredientAmountToAdd">
                </div>
                <p class="col-1">גרם</p>
                <div class="col-5">
                    <input type="text" class="form-control" name="ingredientNameToAdd" [(ngModel)]="ingredientNameToAdd">
                </div>
                <div class="col-2">
                    <button class="btn btn-success btn-sm" (click)="addIngredient()">הוסף</button>
                </div>
            </div>
            <ul>
                <li class="row my-1" *ngFor="let ingredient of recepieToEdit.ingredients; index as i">
                    <div class="col-8">
                        {{ingredient.amount}} גרם {{ingredient.name}}
                    </div>
                    <div class="col-4">
                        <button class="btn btn-sm btn-danger" (click)="removeIngredient(i)">הסר</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <label class="form-label">הוראות</label>
                <div class="col-10">
                    <textarea type="text" class="form-control" name="instructionToAdd" [(ngModel)]="instructionToAdd"></textarea>
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-success" (click)="addInstruction()">הוסף</button>
                </div>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li *ngFor="let instruction of recepieToEdit.instructions; index as i">
                                <div class="col-10">
                                    <p class="text-break">
                                        {{instruction}}
                                    </p>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-sm btn-danger" (click)="removeInstruction(i)">הסר</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-success" (click)="updateRecepie()">שמור מתכון</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-danger" (click)="deleteRecepie()">מחק מתכון</button>
    </div>
</div>